body {
  font-family: "Poppins", sans-serif;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  width: 380px;
  background: linear-gradient(135deg, #a020f0, #1e1e1e);
  border-radius: 25px;
  color: white;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.top-section {
  text-align: center;
}

.city-input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 80%;
  font-size: 1rem;
}
.date {
  margin-top: 10px;
  color: #e0e0e0;
  font-size: 0.9rem;
  text-decoration: underline;
}

.temperature {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.temperature .icon {
  font-size: 1.5rem;
}

.temperature .temp {
  font-size: 3rem;
  font-weight: 500;
}

.weather-icon {
  font-size: 2rem;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}

.info {
  text-align: center;
}

.info .label {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ccc;
}

.info .value {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
}

.weather-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  height: 100vh;
  padding: 40px;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
